@{
    ViewData["Title"] = "Home Page";
}

<h2>B4G – Coding Project</h2>
<p>
  Your mission, should you choose to accept it, is to build a sample homeowner lead generation web form and database.
  The instructions below encapsulate all the expectations regarding the project. Everything that isn’t explicitly specified is up to you to decide; use your best judgement.
  Of course, should you have any questions you may contact your sponsor.
  Good luck!
</p>

<h3>The flow of the form is as follows:</h3>
<ol>
  <li>The user enters her name (first and last), email address and phone number.</li>
  <li>Email and phone are checked for validity. If valid, log in our database, together with the user’s IP.</li>
  <li>Next, the user enters her home address. Log that in our DB.</li>
  <li>
    Using the Zillow API (<a href="https://www.zillow.com/howto/api/APIOverview.htm">https://www.zillow.com/howto/api/APIOverview.htm</a>), display the Rent Zestimate valuation range for the home, to give the homeowner an idea of expected monthly rent.
    If no Rent Zestimate is available, calculate the annual rent as 5% of the home price Zestimate. Display the monthly range as ±10%.
    Log those values in our DB.
  </li>
  <li>The user can enter her expected monthly rent, which may differ from the suggested values. Log that in our DB.</li>
  <li>Finally, we send an email to the user congratulating her for signing up, together with the details that we collected.</li>
</ol>

<h3>Notes and answers to frequently asked questions:</h3>
<ol>
  <li>You may code in any language or platform.</li>
  <li>Our stack is .NET, React and SQL Server.</li>
  <li>But again, you may code in any language.</li>
  <li>Feel free to use any resource. The only limitation is that we ask the work be yours, not outsourced.</li>
  <li>Spend as much or as little time as you see fit.</li>
  <li>Focus as much or as little as you want on the back end.</li>
  <li>Focus as much or as little as you want on the front end.</li>
  <li>Focus as much or as little as you want on the database.</li>
  <li>Document as much or as little as you think is needed.</li>
  <li>Bonus points if you deploy the project to a live environment.</li>
  <li>When you’re done, submit all code and database files (and if deployed live, the URL).</li>
</ol>