@model WebApp.Models.AddressModel

@{
  Layout = "~/Views/Shared/_AccountLayout.cshtml";

  ViewData["Title"] = "Address";
  ViewData["Header.Title"] = "Welcome to B4G";
  ViewData["Header.Slogan"] = "You’ve taken your first step into a larger world, ";

  ViewData["Step1"] = "complete";
  ViewData["Step1.Icon"] = "glyphicon-ok";
  ViewData["Step1.Label"] = "Completed";

  ViewData["Step2"] = "current";
  ViewData["Step2.Icon"] = "glyphicon-home";
  ViewData["Step2.Label"] = "Step 2:";

  ViewData["Step3.Icon"] = "glyphicon-cog";
  ViewData["Step3.Label"] = "Step 3:";
}

<form asp-action="Address" method="post" class="form-signin">
  <h2 class="f2-light">Enter your next home address</h2>

  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="form-group">
    <label class="control-label">Location</label>
    <input id="location" type="text" class="form-control">
  </div>

  @*These are hidden input tags to keep binding with the model.*@
  <input asp-for="GooglePlaceId" id="placeId" type="hidden" class="form-control" />
  <input asp-for="StreetNumber" id="street-number" type="hidden" class="form-control" />
  <input asp-for="StreetName" id="street-name" type="hidden" class="form-control" />
  <input asp-for="City" id="city" type="hidden" class="form-control" />
  <input asp-for="State" id="state" type="hidden" class="form-control" />
  <input asp-for="PostalCode" id="postal-code" type="hidden" class="form-control" />
  <input asp-for="Country" id="country" type="hidden" class="form-control" />

  <button type="submit" class="btn btn-success">Continue</button>
</form>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
  @await Html.PartialAsync("_GoogleApiScriptsPartial")
}