@{
  Layout = "~/Views/Shared/_AccountLayout.cshtml";

  ViewData["Title"] = "Customize";
  ViewData["Header.Title"] = "Welcome to B4G";
  ViewData["Header.Slogan"] = "You’ll find endless opportunities to learn, code, and create, ";

  ViewData["Step1"] = "complete";
  ViewData["Step1.Icon"] = "glyphicon-ok";
  ViewData["Step1.Label"] = "Completed";

  ViewData["Step2"] = "complete";
  ViewData["Step2.Icon"] = "glyphicon-ok";
  ViewData["Step2.Label"] = "Completed";

  ViewData["Step3"] = "complete";
  ViewData["Step3.Icon"] = "glyphicon-ok";
  ViewData["Step3.Label"] = "Completed";
}

<div class="form-signin">
  <h2>Thank you!</h2>
  <h3>You're all set. We will send you email shorty with your summary.</h3>
  <div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
  </div>
</div>